:root{
	--gray-1: 0 0% 100%;
	--gray-2: 210 33% 98%;
	--gray-3: 210 25% 96%;
	--gray-4: 213 38% 90%;
	--gray-5: 214 25% 80%;
	--gray-6: 213 30% 67%;
	--gray-7: 214 27% 49%;
	--gray-8: 214 53% 25%;
	--gray-9: 214 84% 17%;
	--gray-10: 214 100% 12%;
	
	--blue-1: 204 100% 97%;
	--blue-2: 204 93% 94%;
	--blue-3: 202 94% 86%;
	--blue-4: 199 95% 74%;
	--blue-5: 199 89% 60%;
	--blue-6: 198 93% 48%;
	--blue-7: 199 92% 39%;
	--blue-8: 200 96% 32%;
	--blue-9: 202 100% 24%;
	--blue-10: 200 80% 24%;
	
	--red-1: 0 100% 97%;
	--red-2: 0 100% 89%;
	--red-3: 0 100% 81%;
	--red-4: 1 90% 71%;
	--red-5: 358 80% 60%;
	--red-6: 355 74% 50%;
	--red-7: 355 83% 40%;
	--red-8: 355 93% 30%;
	--red-9: 355 100% 21%;
	--red-10: 355 100% 14%;
	
	--volcano-1: 24 100% 95%;
	--volcano-2: 24 100% 87%;
	--volcano-3: 24 100% 79%;
	--volcano-4: 24 100% 71%;
	--volcano-5: 24 100% 64%;
	--volcano-6: 24 88% 55%;
	--volcano-7: 17 88% 44%;
	--volcano-8: 15 97% 34%;
	--volcano-9: 13 100% 26%;
	--volcano-10: 13 100% 19%;
	
	--orange-1: 36 100% 95%;
	--orange-2: 36 100% 86%;
	--orange-3: 36 100% 78%;
	--orange-4: 36 100% 70%;
	--orange-5: 36 100% 62%;
	--orange-6: 32 95% 54%;
	--orange-7: 32 94% 43%;
	--orange-8: 30 100% 34%;
	--orange-9: 29 100% 26%;
	--orange-10: 29 100% 19%;
	
	--gold-1: 55 100% 95%;
	--gold-2: 55 92% 88%;
	--gold-3: 52 96% 77%;
	--gold-4: 53 98% 64%;
	--gold-5: 49 90% 53%;
	--gold-6: 48 94% 47%;
	--gold-7: 47 95% 40%;
	--gold-8: 43 88% 33%;
	--gold-9: 40 75% 29%;
	--gold-10: 35 68% 26%;
	
	--yellow-1: 60 100% 95%;
	--yellow-2: 60 100% 86%;
	--yellow-3: 59 100% 78%;
	--yellow-4: 58 100% 70%;
	--yellow-5: 56 100% 62%;
	--yellow-6: 53 95% 53%;
	--yellow-7: 50 94% 43%;
	--yellow-8: 49 100% 34%;
	--yellow-9: 48 100% 26%;
	--yellow-10: 47 100% 19%;
	
	--lime-1: 72 100% 95%;
	--lime-2: 72 100% 86%;
	--lime-3: 73 100% 78%;
	--lime-4: 82 89% 67%;
	--lime-5: 78 72% 56%;
	--lime-6: 81 69% 46%;
	--lime-7: 82 92% 36%;
	--lime-8: 82 100% 27%;
	--lime-9: 82 100% 20%;
	--lime-10: 82 100% 13%;
	
	--green-1: 95 100% 96%;
	--green-2: 90 61% 85%;
	--green-3: 90 57% 74%;
	--green-4: 93 53% 63%;
	--green-5: 102 52% 53%;
	--green-6: 122 61% 44%;
	--green-7: 122 85% 34%;
	--green-8: 122 100% 24%;
	--green-9: 122 100% 16%;
	--green-10: 123 100% 10%;
	
	--cyan-1: 180 100% 95%;
	--cyan-2: 174 77% 83%;
	--cyan-3: 171 76% 72%;
	--cyan-4: 173 73% 62%;
	--cyan-5: 174 62% 51%;
	--cyan-6: 180 70% 42%;
	--cyan-7: 182 80% 32%;
	--cyan-8: 183 100% 23%;
	--cyan-9: 182 100% 15%;
	--cyan-10: 180 100% 8%;
	
	--geekblue-1: 220 100% 97%;
	--geekblue-2: 221 91% 92%;
	--geekblue-3: 221 83% 84%;
	--geekblue-4: 222 91% 76%;
	--geekblue-5: 226 83% 66%;
	--geekblue-6: 230 79% 55%;
	--geekblue-7: 236 69% 44%;
	--geekblue-8: 238 64% 34%;
	--geekblue-9: 242 78% 25%;
	--geekblue-10: 244 82% 17%;
	
	--purple-1: 270 100% 97%;
	--purple-2: 270 100% 93%;
	--purple-3: 269 70% 82%;
	--purple-4: 267 63% 74%;
	--purple-5: 269 56% 61%;
	--purple-6: 273 68% 50%;
	--purple-7: 279 66% 40%;
	--purple-8: 282 70% 29%;
	--purple-9: 282 92% 20%;
	--purple-10: 284 80% 12%;
	
	--magenta-1: 330 100% 97%;
	--magenta-2: 330 100% 92%;
	--magenta-3: 330 100% 84%;
	--magenta-4: 330 100% 76%;
	--magenta-5: 336 87% 67%;
	--magenta-6: 328 75% 55%;
	--magenta-7: 328 74% 44%;
	--magenta-8: 328 73% 34%;
	--magenta-9: 328 83% 25%;
	--magenta-10: 326 83% 17%;

	--primary-1: var(--geekblue-1);
	--primary-2: var(--geekblue-2);
	--primary-3: var(--geekblue-3);
	--primary-4: var(--geekblue-4);
	--primary-5: var(--geekblue-5);
	--primary-6: var(--geekblue-6);
	--primary-7: var(--geekblue-7);
	--primary-8: var(--geekblue-8);
	--primary-9: var(--geekblue-9);
	--primary-10: var(--geekblue-10);

	/* Colors: */
	--preset-colors: pink, magenta, red, volcano, orange, yellow, gold, cyan, lime, green, blue, geekblue,
  purple;

}