/* Radiant */
:root {
  --background: 0 0% 100%;
  --foreground: 200 83% 16%;
  --card: 0 0% 100%;
  --card-foreground: 200 83% 16%;
  --popover: 0 0% 100%;
  --popover-foreground: 200 83% 16%;
  --primary: 197 100% 32%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96%;
  --secondary-foreground: 200 83% 16%;
  --muted: 210 40% 96%;
  --muted-foreground: 215 16% 47%;
  --accent: 210 40% 96%;
  --accent-foreground: 200 83% 16%;
  --destructive: 0 72% 51%;
  --destructive-foreground: 0 86% 97%;
  --border: 214 32% 91%;
  --input: 213 27% 84%;
  --ring: 197 100% 32%;
  --radius: 0.5rem;
  --chart-1: 173 58% 39%;
  --chart-2: 12 76% 61%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --sidebar-foreground: 215 25% 27%;
  --sidebar-background: 210 40% 98%;
  --sidebar-primary: 197 100% 32%;
  --sidebar-primary-foreground: 210 40% 98%;
  --sidebar-accent: 210 40% 96%;
  --sidebar-accent-foreground: 229 84% 5%;
  --sidebar-border: 214 32% 91%;
  --sidebar-ring: 215 20% 65%;
}

.dark {
  --background: 229 84% 5%;
  --foreground: 210 40% 98%;
  --card: 229 84% 5%;
  --card-foreground: 210 40% 98%;
  --popover: 229 84% 5%;
  --popover-foreground: 210 40% 98%;
  --primary: 197 97% 86%;
  --primary-foreground: 200 83% 16%;
  --secondary: 215 25% 27%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217 33% 17%;
  --muted-foreground: 215 20% 65%;
  --accent: 217 33% 17%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 63% 31%;
  --destructive-foreground: 0 86% 97%;
  --border: 217 33% 17%;
  --input: 215 25% 27%;
  --ring: 197 97% 86%;
  --radius: 0.5rem;
  --chart-1: 220 70% 50%;
  --chart-2: 340 75% 55%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 160 60% 45%;
  --sidebar-background: 222 47% 11%;
  --sidebar-foreground: 210 40% 96%;
  --sidebar-primary: 197 97% 86%;
  --sidebar-primary-foreground: 200 83% 16%;
  --sidebar-accent: 217 33% 17%;
  --sidebar-accent-foreground: 210 40% 96%;
  --sidebar-border: 217 33% 17%;
  --sidebar-ring: 213 27% 84%;
}
