:root{
	--gray-1: 0 0% 100%;
	--gray-2: 240 33% 98%;
	--gray-3: 225 33% 96%;
	--gray-4: 232 33% 90%;
	--gray-5: 233 21% 78%;
	--gray-6: 233 16% 60%;
	--gray-7: 233 14% 50%;
	--gray-8: 230 33% 34%;
	--gray-9: 231 33% 25%;
	--gray-10: 231 33% 18%;
	
	--blue-1: 186 100% 95%;
	--blue-2: 188 100% 82%;
	--blue-3: 188 100% 74%;
	--blue-4: 188 100% 66%;
	--blue-5: 194 92% 56%;
	--blue-6: 196 100% 46%;
	--blue-7: 198 100% 38%;
	--blue-8: 200 100% 31%;
	--blue-9: 202 100% 24%;
	--blue-10: 204 100% 16%;
	
	--red-1: 0 100% 97%;
	--red-2: 0 100% 89%;
	--red-3: 0 100% 81%;
	--red-4: 1 90% 71%;
	--red-5: 358 80% 60%;
	--red-6: 355 74% 50%;
	--red-7: 355 83% 40%;
	--red-8: 355 93% 30%;
	--red-9: 355 100% 21%;
	--red-10: 355 100% 14%;
	
	--volcano-1: 24 100% 95%;
	--volcano-2: 24 100% 87%;
	--volcano-3: 24 100% 79%;
	--volcano-4: 24 100% 71%;
	--volcano-5: 24 100% 64%;
	--volcano-6: 24 88% 55%;
	--volcano-8: 17 88% 44%;
	--volcano-8: 15 97% 34%;
	--volcano-9: 13 100% 26%;
	--volcano-10: 13 100% 19%;
	
	--orange-1: 40 100% 97%;
	--orange-2: 40 100% 89%;
	--orange-3: 40 100% 81%;
	--orange-4: 40 100% 73%;
	--orange-5: 36 100% 65%;
	--orange-6: 32 93% 55%;
	--orange-7: 28 84% 45%;
	--orange-8: 25 92% 35%;
	--orange-9: 25 100% 26%;
	--orange-10: 25 100% 19%;
	
	--gold-1: 48 100% 95%;
	--gold-2: 48 100% 86%;
	--gold-3: 47 100% 78%;
	--gold-4: 45 100% 70%;
	--gold-5: 43 100% 62%;
	--gold-6: 38 95% 53%;
	--gold-7: 39 94% 43%;
	--gold-8: 39 100% 34%;
	--gold-9: 39 100% 26%;
	--gold-10: 39 100% 19%;
	
	--yellow-1: 60 100% 95%;
	--yellow-2: 60 100% 86%;
	--yellow-3: 59 100% 78%;
	--yellow-4: 58 100% 70%;
	--yellow-5: 56 100% 62%;
	--yellow-6: 53 95% 53%;
	--yellow-7: 50 94% 43%;
	--yellow-8: 49 100% 34%;
	--yellow-9: 48 100% 26%;
	--yellow-10: 47 100% 19%;
	
	--lime-1: 72 100% 95%;
	--lime-2: 72 100% 86%;
	--lime-3: 73 100% 78%;
	--lime-4: 82 89% 67%;
	--lime-5: 78 72% 56%;
	--lime-6: 81 69% 46%;
	--lime-7: 82 92% 36%;
	--lime-8: 82 100% 27%;
	--lime-9: 82 100% 20%;
	--lime-10: 82 100% 13%;
	
	--green-1: 120 100% 98%;
	--green-2: 120 61% 85%;
	--green-3: 115 57% 74%;
	--green-4: 110 53% 63%;
	--green-5: 107 52% 53%;
	--green-6: 113 61% 43%;
	--green-7: 113 85% 33%;
	--green-8: 115 100% 24%;
	--green-9: 115 100% 16%;
	--green-10: 115 100% 8%;
	
	--cyan-1: 190 41% 92%;
	--cyan-2: 190 33% 84%;
	--cyan-3: 190 46% 79%;
	--cyan-4: 186 48% 70%;
	--cyan-5: 186 59% 50%;
	--cyan-6: 189 100% 37%;
	--cyan-7: 189 100% 29%;
	--cyan-8: 189 100% 22%;
	--cyan-9: 189 100% 14%;
	--cyan-10: 189 100% 7%;
	
	--geekblue-1: 234 44% 95%;
	--geekblue-2: 231 38% 84%;
	--geekblue-3: 230 42% 74%;
	--geekblue-4: 230 40% 64%;
	--geekblue-5: 229 40% 57%;
	--geekblue-6: 230 57% 48%;
	--geekblue-7: 236 67% 37%;
	--geekblue-8: 236 58% 25%;
	--geekblue-9: 238 60% 15%;
	--geekblue-10: 240 58% 6%;
	
	--purple-1: 315 40% 93%;
	--purple-2: 315 40% 82%;
	--purple-3: 315 44% 67%;
	--purple-4: 315 47% 58%;
	--purple-5: 313 50% 50%;
	--purple-6: 308 60% 44%;
	--purple-7: 310 59% 35%;
	--purple-8: 310 72% 20%;
	--purple-9: 309 77% 11%;
	--purple-10: 310 80% 3%;
	
	--magenta-1: 330 100% 97%;
	--magenta-2: 330 100% 94%;
	--magenta-3: 338 100% 86%;
	--magenta-4: 336 100% 78%;
	--magenta-5: 333 88% 67%;
	--magenta-6: 328 73% 56%;
	--magenta-7: 328 66% 45%;
	--magenta-8: 329 71% 35%;
	--magenta-9: 329 75% 25%;
	--magenta-10: 330 75% 17%;
	
	--primary-1: var(--cyan-1);
	--primary-2: var(--cyan-2);
	--primary-3: var(--cyan-3);
	--primary-4: var(--cyan-4);
	--primary-5: var(--cyan-5);
	--primary-6: var(--cyan-6);
	--primary-7: var(--cyan-7);
	--primary-8: var(--cyan-8);
	--primary-9: var(--cyan-9);
	--primary-10: var(--cyan-10);

	/* Colors: */
	--preset-colors: pink, magenta, red, volcano, orange, yellow, gold, cyan, lime, green, blue, geekblue, purple;

}