:root {
  --red: 0 91% 71%;
  --red-foreground: 0 74% 42%;

  --orange: 27 96% 61%;
  --orange-foreground: 15 79% 34%;

  --yellow: 48 96% 53%;
  --yellow-foreground: 32 81% 29%;

  --lime: 83 78% 55%;
  --lime-foreground: 86 69% 23%;

  --green: 142 69% 58%;
  --green-foreground: 143 64% 24%;

  --cyan: 188 86% 53%;
  --cyan-foreground: 194 70% 27%;

  --blue: 213 94% 68%;
  --blue-foreground: 224 76% 48%;

  --violet: 255 92% 76%;
  --violet-foreground: 263 70% 50%;

  --fuchsia: 292 91% 73%;
  --fuchsia-foreground: 295 72% 40%;

  --slate: 215 20% 65%;
  --slate-foreground: 217 33% 17%;
}

.dark {
  color-scheme: dark;
  
  --red: 0 74% 42%;
  --red-foreground: 0 91% 71%;

  --orange: 27 96% 61%;
  --orange-foreground: 27 96% 61%;

  --yellow: 48 96% 53%;
  --yellow-foreground: 48 96% 53%;

  --lime: 83 78% 55%;
  --lime-foreground: 83 78% 55%;

  --green: 142 69% 58%;
  --green-foreground: 142 77% 73%;

  --cyan: 188 86% 53%;
  --cyan-foreground: 188 86% 53%;

  --blue: 226 71% 40%;
  --blue-foreground: 213 94% 68%;

  --violet: 263 69% 42%;
  --violet-foreground: 255 92% 76%;

  --fuchsia: 293 69% 49%;
  --fuchsia-foreground: 292 91% 73%;

  --slate: 215 16% 47%;
  --slate-foreground: 215 20% 65%;
}
